@import "./components/layer-avatar";
@import "./components/layer-presence";
@import "./components/layer-compose-bar";

@import "./components/layer-message-list";

@import "./components/layer-conversation-list";
@import "./components/layer-conversation-item";
@import "./components/layer-channel-item";

@import "./components/layer-identity-list";
@import "./components/layer-identity-item";

@import "./components/layer-membership-list";
@import "./components/layer-membership-item";

@import "./components/layer-notifier";
@import "./misc/separators";
@import "./components/layer-menu";
@import "./components/layer-menu-button";
@import "./misc/layer-spinner";
@import "./components/layer-typing-indicator";

@import "./messages/layer-standard-display-container";
@import "./messages/layer-titled-display-container";
@import "./messages/layer-message-viewer";
@import "./messages/layer-location-view";
@import "./messages/layer-text-view";
@import "./messages/layer-link-view";
@import "./messages/layer-location-view";
@import "./messages/layer-file-view";
@import "./messages/layer-image-view";
@import "./messages/layer-carousel-view";
@import "./messages/layer-receipt-view";
@import "./messages/layer-choice-view";
@import "./messages/layer-choice-tiles-view";
@import "./messages/layer-choice-label-view";
@import "./messages/layer-buttons-view";
@import "./messages/layer-product-view";

@import "./misc/resources";
@import "./misc/layer-action-button";

/* Visual indication that this node is no longer valid;
primarily used for debugging... if you see this, your using the tools wrong.
*/
.layer-node-destroyed {
  background-color: black;
  color: black;
  opacity: 0.7;
}

