layer-choice-message-view .layer-choice-message-view-label {
  background-color: @color-g1;
  color: @color-role-font-standard;
  padding: 12px;
}

layer-choice-message-view .layer-choice-message-view-choices layer-action-button button {
  padding: 12px;
  margin: 0px;
  border-color: @color-role-heavy-border;
  border-width: 1px 0px 0px 0px;
  border-radius: 0px;
  outline: none;
}
