layer-file-upload-button {
  /* Inspired by http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  label {
    display: block;
    pointer-events: none;
    text-align: center;
  }
}